footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    color: white;
    text-align: center;
    margin-top: auto;
    background-color: white;
  }
  .btn-btn-light{
    background-color: blue;
  }

div.notif-container {
  position: relative !important;
}

span.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;

  position: absolute;
  right: -5px;
  top: -5px;
}
