footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    color: white;
    text-align: center;
    margin-top: auto;
    background-color: white;
  }
  .btn-btn-light{
    background-color: blue;
  }

div.notif-container {
  position: relative !important;
}

span.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;

  position: absolute;
  right: -5px;
  top: -5px;
}

.group-description {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis ;

  
}
.group-title {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis ; 
  
}

.readmore {
  background-color: blue;
  color: white;
  border-radius: 10%;
  position: relative;
  justify-content: right;
}

